
*{
    font-family: sans-serif;
    
    
} 
    
    


    
    
    



.BalkenOb {
    
    height: auto;
    width: 960px;
    background-color: rgba( 200, 200, 8, 0.572 );
    margin: 0 auto;
    margin-bottom: 40px;
    text-align:left;
    padding: 20px 30px;
    color: #e8e8e8;
      
}
.Menu a{
    text-decoration: none;
    color: aliceblue;
    
        
    
    
}

.Menu {
    
    box-sizing: content-box;
    display: flex;
    padding: 0px 40px;
    height: 40px;
    margin-top: 25px;
   
    justify-content: space-between;
    
}

.Menup{
    width: 100px; 
    height: 30px;
    background-color: rgba( 30, 30, 30, 0.283 );
    text-align:center;
    font-size: 1.4em;
    padding: 7px;
    
    
}

.Foto img{max-width:  400px;
        height: auto;}

.Menup:hover {
    background-color: #ae8a50;
    
}

h1{ font-family: Segoe Script;
    float: left;
    color:#ffffff
    
    
}

h2{
    text-align: center;
    font-size: 2.4em;
    
    
    
}

.con {
    padding: 15px;
    display: flex;
   
    
}
.Inhalt {
    
    padding: 20px;
    line-height: 1.6;
    max-width: 300px;
    
    
    
}

.Body {
    height: 900px;
    width: 960px;
     background-color: rgba( 223, 254, 210, 0.572 );
    margin: 0 auto;
    border: solid 3px;
    border-color: #636363;
    border-style:dashed;
    
    
    
    }
.BalkenUb {
    box-sizing: border-box;
    height: 100px;
    width: 960px;
    background-color: rgba( 200, 200, 8, 0.572 );
    margin: 0 auto; 
    margin-top: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-grow: 0;
    
}


    
}
    
    
    