*{
    background-color: #dddddd;
    font-family: sans-serif;
    
    
}
.text{
      background-color:  #c9c9c9;
}
a {background-color:  #c9c9c9;
    }
.h{background-color:  #c9c9c9;
    font-size:1.4em ;
 
}

#layout {
    width: 960px;
    background-color: #c9c9c9;
    height: 800px;
   
    box-shadow: 0.5px 0.5px 30px 0.2px;
   
    
    
    
}
.Ubersicht {
    float:left;
    width: 110px; 
    display: flex;
    flex-wrap: wrap;
    height: 250; 
    margin-top: 20px; 
    margin-left: 20px;
    background-color:  #c9c9c9;
    
    
    }
.Ubersicht a{
    text-decoration: none;
    color:#3d3d3d;
   background-color:  #c9c9c9
}
.Ubersicht a:hover {
    color: #297fee;
}
#body{
    float: right;
    width: 620px;
    margin-right: 130px;
    height: 560px;
    background-color:  #c9c9c9;    
}
#Ostfrielandhaus {
    font-size: 0.8em;
}
#body {
    
    min-height: 70%;
}
