
.oberbalken {
    height: auto;
    background-color:#f7fcf7;
    
    }

.seitenb {
    height: 88px;
    max-width: 960px;
    background-color: #ffffff;
    margin: 0 auto; }


nav ul{
border: solid 1px #757575;
border-radius: 20px;
padding: 0 0px;
float: left;
margin-right: 20px;
margin-left: 20px;
list-style: none;
position: relative;
display:inline-table;
}
nav ul li {
	float: left;
    
}

	nav ul li a {
		display: block; padding: 6px 40px;
        
		color: #494949; text-decoration: none;
	}

nav ul li:hover a{
    background: rgba( 190, 255, 117, 0.242 );
    border-radius: 20px;
}

#Logo {
    margin-top: 0px;
    margin-left: 2%;
    max-width: 100%;
    height: auto;
    float: right;
    margin-bottom: 10px;
}

#Bild{ float: left;
        width: 300;

}
.Unterline{
    clear: both;
    max-width: 100%;
    height: 0.7;
    border-style: none;
    background-color: #494949;
    
    
    
}
#Inhaltb{
    margin-left: 20px;
}

#Texte{height: auto;
    min-height: 890px;
    width: 800px;
    background-color: #ffffff;
    margin: 70 auto 0 auto
    }
#Texte h1{
    padding: 20 70;
    font-family: Segoe Script;
    
    
}
#Texte p{
    
    
    word-spacing: 2px;
    line-height: 1.5;
    }

#unterl{
    margin-top: 20%;
  
   
    width: 70%;
    height: 0.4;
    border-style: none;
    background-color: #494949;
}

#umrandung {
    margin: 60 70;
    padding: 0px 30px;
    border: 1.5px;
    border-style:dotted;
    border-color: #b2b2b2
    
    
}

#Unterbalken { width: 960px;
margin: 110 auto 0 auto;
height: 90px; 
background-color: white;


        
}

.Innenblock {
width: 33.33333333333333333333333333333333333%;
margin-top:-3 ;
float: left;
background-color:#ffffff;

    
}
.Innenblock b{
    padding: 10 2;
    
    color: #2b5e2b
}

.Innenblock p {
    
    margin-top: 0;
    padding: 0 0 0 60px;
    font-size: 0.8em;
    line-height: 1.25;
}

