
html{
     font-family: 'Muli', sans-serif;
    
}


#container {
    
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background: #ffffff;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
     position: relative;
    overflow: hidden;
}




#Rot {
    box-sizing: border-box;
    width: 350px;
    
    height: 350px;
    background-color: rgba( 254, 56, 148, 0.83 );
    border-radius: 50%;
    margin-left: 300px; 
    position: absolute;
    padding: 5% 8%;
    
  
    color: white;
    
}

#Gelb {
    width: 150px;
    height: 150px;
    background-color: rgba( 254, 255, 10, 0.792 );
    border-radius: 50%;
    margin-left: 200px; 
    margin-top: 20px;
    position: absolute;
}
#Blau {
    width: 200px;
    height: 200px;
    background-color: rgba( 10, 148, 255, 0.556 );
    border-radius: 50%;
    margin-left: 670px; 
    margin-top: -100px;
    position: absolute;
}
#Grun {
    width: 280px;
    height: 280px;
    background-color: rgba( 255, 189, 10, 0.703 );
    border-radius: 50%;
    margin-left: 770px; 
    margin-top: -50px;
    position: absolute;
    }
#lila {
    width: 230px;
    height: 230px;
    background-color:rgba( 10, 255, 34, 0.556 );
    border-radius: 50%;
    margin-left: 200px; 
    margin-top: 250px;
    position: absolute;
    
}

h1{
    color: white;
    font-size: 1.6em;
   
}
hr {
    background-color: #ffffff;
    height: 2px;
    box-sizing:border-box;
    width: 50%;
    float: left;
    border: 0px;
    
}
#untert{
        float: left;
    margin-left: -90px;    
    margin-top: 17px;
        font-size: 0.46em;
    

}

br{
   box-sizing: border-box;

    
}

    
.b{
    margin-top: 20px;
    background-color: rgba( 254, 56, 148, 0);
    border-color:white;
    border: 1px solid #fff;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    color:white;
    float: left;
    margin-left: 120px;
    font-weight: 600;
    transition:  0.8s ease-in; 
    
     
    

    
    
    
}

.b:hover {
    background-color: white;
    color: rgba( 242, 2, 154, 0.915 );
    font-weight: 600;
    border-radius: 0px;
    
}


